<h1>Genres</h1>

<h3>Add Genre</h3>
<md-input-container>
    <input type="text" placeholder="new genre" ng-model="vm.newGenre">
</md-input-container>
<div>
    <md-button class="md-primary md-raised" ng-click="vm.addGenre(vm.newGenre)">Add Genre</md-button>
</div>


<div>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Genres</span>
        </h2>
    </md-toolbar>

    <md-content layout-align="center center">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="genre in vm.genres.list">
                <div class="md-list-item-text">
                    <h3>{{genre.genre}}</h3>

                </div>
                <h3>{{genre.movies_in_genre}} </h3>
                <md-button class="md-primary md-raised" ng-click="vm.showConfirm($event, genre)">Remove</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>