<h1>Movies</h1>
{{vm.title}}
{{vm.message}}
<div>
    <h3>Add new movie to your collection</h3>
    <input type="text" placeholder="title" ng-model="vm.newMovie.title">
    <select ng-model="vm.newMovie.genre_id">
        <option ng-repeat="genre in vm.genresList.list" value="{{genre.id}}">{{genre.genre}}</option>

    </select>
    <input type="text" placeholder="director" ng-model="vm.newMovie.director">
    <input type="number" placeholder="year of release" ng-model="vm.newMovie.released">
    <button ng-click="vm.getDb_id(vm.newMovie)">Add Movie</button>
</div>

<div>
    <div ng-repeat="movie in vm.movies.list">
        <img ng-src="{{vm.imageUrlBase}}{{movie.image_path}}">
        <p>{{movie.title}}</p>
        <p>{{movie.genre}}</p>
        <p>{{movie.director}}</p>
        <p>{{movie.released}}</p>
        

    </div>
</div>